#viewer {
  margin: 5px 0;

  pre {
    display: inline;
    overflow-x: hidden;
    border-radius: 0.2em;
    border: none;
  }

  .dirty {
    background-color: lightgrey;
  }

  .grid {
    min-height: 10vh;
    max-height: 90vh;
  }

  .center {
    text-align: center;
  }

  .content {
    padding: 0.5em 0.5em;
    max-height: 30vh;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
  }

  .results {
    overflow: auto;
    white-space: nowrap;
  }

  .left {
    overflow-y: auto;
  }

  .nowrap {
    white-space: nowrap;
  }

  .highlight {
    background-color: yellow;
  }
}
