#viewer {
  margin: 5px 0;

  pre {
    display: inline;
    overflow-x: hidden;
    border-radius: 0.2em;
    border: none;
    background-color: lightgray;
    padding: 0.2em;
  }

  .options {
    display: flex;
    flex-direction: row;

    .left {
      align-self: flex-start;
    }

    .right {
      margin-left: auto;
    }
  }

  .dirty {
    background-color: lightgrey;
  }

  .grid {
    min-height: 10vh;
    max-height: 65vh;
  }

  .center {
    text-align: center;
  }


  .content {
    padding: 0.5em 0.5em;
    max-height: 30vh;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
  }

  .column {
    overflow-y: auto;
    white-space: nowrap;
  }

  .left {
    overflow-y: auto;
  }

  .nowrap {
    white-space: nowrap;
  }

  .highlight {
    background-color: yellow;
  }
}
