<div id="viewer" class="ui segment">
  <div class="ui divided equal width grid">
    <div class="three wide column">
      <div class="ui divided list">
        <div class="item">
          <i class="file icon"></i>
          <div class="content">
            <div class="header">Info</div>
          </div>
        </div>
        <div class="item">
          <div class="content">
            <b>Path:</b> <a href="#">C:\temp\test.log</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
    </div>
  </div>
</div>
